#product-title {
    margin-top: 40px;
}
#content-wrapper {
    display: flex;
    justify-content: center;
}
#buttons {
    margin-left: 20%;
}
#note-field {
    width: 300px;
    height: auto;
    border: 1px solid #fff;

}

@media (max-width: 600px) {
    #content-wrapper {
        display: inline;
    }
    #buttons {
        margin-top: 30px;
        margin-left: 10%;
    }
}