header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
}

table {
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid white;
}
th {
    text-align: start;
}

.filter {
    display: none;
}

#filter-input {
    background-color: rgb(31, 31, 31);
    color: rgb(216, 216, 216);
    border: 1px solid #fff;
}
#filter-input:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgb(194, 194, 194);
}

#btn-wrapper {
    display: flex;
    justify-content: space-between;
}
#filter-btn {
    margin-left: 10%;
}
#expired {
    width: 150px;
}
#submit-filter {
    width: 100px;
}
#add-btn {
    margin-right: 10%;
}